/* 1. Primero las fuentes externas */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* 2. Luego Tailwind */
@import "tailwindcss";

/* 3. Finalmente tu configuración de tema y estilos personalizados */
@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;

  --color-main: #ffffff;           /* Fondo blanco puro */
  --color-content: #121212;        /* El negro potente que te gustaba para los H1 */
  --color-accent: #6db4b6;         /* El turquesa del colibrí para detalles y botones */
  --color-secondary: #b1c762;      /* El verde manzana para toques frescos */
  --color-muted: #71717a;          /* Gris neutro para párrafos largos */
  --color-surface: #f8fafc;        /* Gris casi blanco para fondos de sección */
} 

@utility bg-hero {
  /* Asegúrate de que la ruta a tu imagen sea correcta */
  background-image: url('./assets/hero-bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}