/* 1. Primero las fuentes externas */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* 2. Luego Tailwind */
@import "tailwindcss";

/* 3. Finalmente tu configuración de tema y estilos personalizados */
@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;

/* PALETA DE COLORES PROFESIONAL */
  --color-main: #ffffff;       /* Fondo limpio */
  --color-content: #121212;    /* Texto principal (casi negro) */
  --color-accent: #f97316;     /* Tu color de marca (Naranja, cámbialo si quieres) */
  --color-muted: #71717a;      /* Textos secundarios o detalles sutiles */
  --color-surface: #f4f4f5;    /* Gris muy suave para bloques o tarjetas */
}